<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.manfredi.android.graficoscomgooglecharts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TaxaMetabolicaActivity"
            android:label="@string/title_activity_taxa_metabolica"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaloriasActivity"
            android:label="@string/title_activity_calorias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GraficosActivity"
            android:label="@string/title_activity_graficos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
